* {
    /* outline: 1px black solid; */
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-right: 5px;
}

ul:after {
  content: "";
  display: table;
  clear: both;
}

section {
    margin-top: 1rem;
}


section:after {
    margin-top: 1rem;
    content: "";
    display: table;
    clear: both;
}

img {
    float: left;
    padding: 5px;
}