body {
    background-color: rgb(165, 155, 155);
}

#content {
    position: relative; /* https://www.w3schools.com/css/css_positioning.asp */
    padding: 1rem;
    padding-bottom: 10vh;
    border-radius: 5%;

    /* Use margin and width to center elements: */
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_container */
    /* margin: This must be set to 'auto' */
    /* width: A percent of the *total* width that is split evenly on both sides. */
    margin: auto;
    width: 70%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}

li {
    float: left;
    margin-right: 30px;
    outline: 1px black solid;
    padding: 5px;
}

/* clearfix: https://www.w3schools.com/howto/howto_css_clearfix.asp */
ul:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
    border-bottom: 5px rgb(165, 155, 155) solid;
    color: white;
}

h2 {
    border-bottom: 1px black solid;
}

section {
    margin: 2rem 0;
    outline: 1px black solid;
    padding: 15px;
}

/* clearfix: https://www.w3schools.com/howto/howto_css_clearfix.asp */
section:after {
    margin-top: 1rem;
    content: "";
    display: table;
    clear: both;
}

img {
    float: left;
    padding: 5px;
}

footer {
    color: white;
    padding-top: 0.5rem;
    border-top: 1px black solid;
}